[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=pi
Restart=on-failure

#Change this line if Prometheus is somewhere different
ExecStart=/home/pi/Prometheus/prometheus \
  --config.file=/home/pi/Prometheus/prometheus.yml \
  --storage.tsdb.path=/home/pi/Prometheus/data

[Install]
WantedBy=multi-user.target
